.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: url("https://picgo-img-repo.oss-cn-beijing.aliyuncs.com/img/6ebe78cb765815fdc628c5620ed0c6ac.png")
			no-repeat center / cover,
		#f0f2f5;
	position: relative;
	padding-bottom: 40px;
}

h1 {
	font-size: 25px;
	margin: 25px 0 10px 0;
	color: #1890ff;
}

a {
	color: #1890ff;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #d8d8d8f0;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
